.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ececec;
  min-height: 80px;
}